<div class="container">
  <div class="table-wrapper">
    <div class="table-title">
      <div class="row">
        <div class="col-sm-6">
          <h2><b>Project Manager</b>            
          </h2>
        </div>
        <div class="col-sm-6">          
          <a class="btn btn-info" routerLink="viewtask">
            <i class="material-icons">&#xE147;</i>
            <span>View Task</span>
          </a> 
          <a class="btn btn-primary" routerLink="adduser">
            <i class="material-icons">&#xE147;</i>
            <span>Add User</span> 
          </a>
          <a class="btn btn-danger" routerLink="addtask">
            <i class="material-icons">&#xE147;</i>
            <span>Add Task</span>
          </a>
          <a class="btn btn-success" routerLink="addproject">
            <i class="material-icons">&#xE147;</i>
            <span>Add Project</span>
          </a>          
        </div>
      </div>      
    </div>            
  </div>    
  <router-outlet></router-outlet>        
</div>
