<div class="container">
  <div class="row main">
    <div class="main-login main-center">
      <div class="form-group col-sm-7">
        <label for="project" class="cols-sm-2 control-label">Project</label>
        <div class="cols-sm-10">
          <div class="input-group">
            <span class="input-group-addon">
              <i class="fa fa-user fa" aria-hidden="true"></i>
            </span>
            <input type="text" class="form-control" name="project" id="project" placeholder="Enter project Name" />
          </div>
        </div>
      </div>
      <br/>
      <br/>
      <div class="form-group col-sm-7">
        <div class="cols-sm-4">
          <span class="custom-checkbox">
            <input type="checkbox" id="checkbox1" name="options[]" value="1">
            <label for="checkbox1">Set start date and end date</label>
          </span>
        </div>
      </div>
      <div class="form-group col-sm-7">
        <label for="project" class="cols-sm-2 control-label">Start Date</label>
        <div class="cols-sm-10">
          <div class="input-group">
            <span class="input-group-addon">
              <i class="fa fa-user fa" aria-hidden="true"></i>
            </span>
            <input type="date" class="form-control" name="strdate" id="strdate" />
          </div>
        </div>
      </div>
      <div class="form-group col-sm-7">
        <label for="project" class="cols-sm-2 control-label">End Date</label>
        <div class="cols-sm-10">
          <div class="input-group">
            <span class="input-group-addon">
              <i class="fa fa-user fa" aria-hidden="true"></i>
            </span>
            <input type="date" class="form-control" name="enddate" id="enddate" />
          </div>
        </div>
      </div>
      <div class="form-group col-sm-7">
        <label for="name" class="cols-sm-2 control-label">Priority</label>
        <div class="cols-sm-10">
          <div class="range range-primary">
            <input type="range" name="range" min="1" max="30" value="0" onchange="rangePrimary.value=value">
            <output id="rangePrimary">0</output>
          </div>
        </div>
      </div>
      <div class="form-group col-sm-7">
        <label for="manager" class="cols-sm-2 control-label">Manager</label>
        <div class="cols-sm-10">
          <div class="input-group">
            <span class="input-group-addon">
              <i class="fa fa-user fa" aria-hidden="true"></i>
            </span>
            <input type="text" class="form-control" name="manager" id="manager" placeholder="Enter manager Name" disabled />
            <span class="input-group-btn">
              <button class="btn btn-primary" type="button">Search</button>
            </span>
          </div>
        </div>
      </div>
      <div class="form-group row col-sm-12">
        <div class="col-sm-2">
          <button type="button" class="btn btn-primary  btn-block login-button">
            <i class="material-icons">&#xE147;</i>Add Project</button>
        </div>
        <div class="col-sm-2">
          <button type="button" class="btn btn-primary  btn-block login-button">
            <i class="material-icons">&#xE15C;</i>Reset Project</button>
        </div>
      </div>
    </div>
  </div>
</div>
<hr style="width: 100%; color: black; height: 1px; background-color:black;" />
<div class="row col-sm-12">
  <div class="col-sm-6">
    <div id="custom-search-input">
      <div class="input-group col-md-12 search-box">
        <input type="text" class="form-control" placeholder="Search" />
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <label>Sort task by:</label>
    <button type="button" class="btn btn-primary btn-sm" style="margin-left: 10px">
      <i class="material-icons">&#xE042;</i>Start date</button>
    <button type="button" class="btn btn-primary btn-sm" style="margin-left: 10px">
      <i class="material-icons">&#xE042;</i>End date</button>
    <button type="button" class="btn btn-primary btn-sm" style="margin-left: 10px">
      <i class="material-icons">&#xE042;</i>Priority</button>
    <button type="button" class="btn btn-primary btn-sm" style="margin-left: 10px">
      <i class="material-icons">&#xE042;</i>Completed</button>
  </div>
</div>
<div class="row col-sm-12">
  <hr style="width: 100%; color: black; height: 1px; border: 1px dotted;" />
</div>
<div class="col-sm-12">
  <ul class="list-group list-group-flush disabled">
    <div class="col-sm-5">
      <li class="list-group-item disabled">Project:</li>
    </div>
    <div class="col-sm-5">
      <li class="list-group-item disabled">Priority:</li>
    </div>
    <div class="col-sm-5">
      <li class="list-group-item disabled">No of tasks:</li>
    </div>
    <div class="col-sm-5">
      <li class="list-group-item disabled">Completed:</li>
    </div>
    <div class="col-sm-5">
      <li class="list-group-item disabled">Start date:</li>
    </div>
    <div class="col-sm-5">
      <li class="list-group-item disabled">End date:</li>
    </div>
  </ul>
</div>
<div class="form-group row col-sm-12">
  <div class="col-sm-2">
    <button type="button" class="btn btn-primary btn-block login-button" style="margin-top: 20px">
      <i class="material-icons">&#xE254;</i>Update Project</button>
  </div>
  <div class="col-sm-2">
    <button type="button" class="btn btn-primary btn-block login-button" style="margin-top: 20px">
      <i class="material-icons">&#xE872;</i>Suspend Project</button>
  </div>
</div>
<div class="row col-sm-12">
  <hr style="width: 100%; color: black; height: 1px; border: 1px dotted;" />
</div>